* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/christmas-wallpaper.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  font-family: "Cabin", sans-serif;
}

.area-1 {
  width: inherit;
  height: 100vh;
  background-image: url(../images/christmas-tree.png);
  background-color: rgba(0, 0, 0, 0.2);
  background-size: contain;
  background-position: center top 25%;
  background-repeat: no-repeat;
  position: relative;
  overflow-x: hidden;
}

.present {
  position: absolute;
  width: 8rem;
  height: 8rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  bottom: 15%;
  display: flex;
  align-items: flex-start;
  justify-content: left;
}

.present img {
  max-width: 80%;
  height: auto;
}

.candy {
  background-image: url(../images/red-1.png);
  left: 0.1rem;
}

.reindeer {
  background-image: url(../images/green-1.png);
  left: 50%;
  translate: -50% -5%;
}

.coin {
  background-image: url(../images/blue-1.png);
  right: 0.1rem;
  translate: 0 5%;
}

.area-2 {
  position: absolute;
  width: 100%;
  height: 7rem;
  bottom: 0;
  left: 0;
  padding: 0 0.5rem 0.5rem;
  display: none;
}

.dialogue {
  display: flex;
  position: relative;
  height: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid green;
  padding: 0.5rem 0.5rem 0.5rem 6rem;
}

.santa {
  position: absolute;
  width: 10rem;
  height: 10rem;
  bottom: 0;
  left: -11px;
  overflow: hidden;
}

.santa img {
  max-width: 90%;
  height: auto;
  translate: -100%;
}

.dialogue p {
  text-align: justify;
}

.area-2 .next-icon {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  z-index: 1;
}

.close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: yellow;
}

.overlay .item {
  max-width: 50%;
  height: auto;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay p {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 2rem;
}

.overlay span {
  width: 100%;
  color: yellowgreen;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3rem;
}

.area-3 {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/khung-nen-nho.png),
    url(../images/letter-background.png);
  background-position: top center, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  padding: 8rem 2rem;
  font-family: "Dancing Script", cursive;
  display: none;
}

.area-3 p {
  line-height: 1.5;
  margin: 0.5rem 0;
  text-align: justify;
  font-size: 12px;
  text-indent: 1rem;
}

.star {
  position: absolute;
  top: 65px;
  left: 156px;
}
